@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 90%;
    --foreground: 60 10% 10%;
    --card: 60 56% 90%;
    --card-foreground: 60 10% 10%;
    --popover: 60 56% 90%;
    --popover-foreground: 60 10% 10%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 10%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 60 10% 10%;
    --muted: 60 30% 88%;
    --muted-foreground: 60 10% 45%;
    --accent: 16 70% 70%;
    --accent-foreground: 16 70% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 120 25% 65%;
    --chart-1: 120 25% 65%;
    --chart-2: 16 70% 70%;
    --chart-3: 40 50% 60%;
    --chart-4: 200 50% 60%;
    --chart-5: 300 50% 60%;
    --radius: 0.5rem;
    --sidebar-background: 60 56% 93%;
    --sidebar-foreground: 60 10% 20%;
    --sidebar-primary: 120 25% 65%;
    --sidebar-primary-foreground: 120 25% 10%;
    --sidebar-accent: 60 40% 85%;
    --sidebar-accent-foreground: 60 10% 10%;
    --sidebar-border: 60 20% 80%;
    --sidebar-ring: 120 25% 65%;
  }
  .dark {
    --background: 80 10% 10%;
    --foreground: 60 56% 90%;
    --card: 80 10% 10%;
    --card-foreground: 60 56% 90%;
    --popover: 80 10% 10%;
    --popover-foreground: 60 56% 90%;
    --primary: 120 35% 75%;
    --primary-foreground: 120 25% 10%;
    --secondary: 80 10% 20%;
    --secondary-foreground: 60 56% 90%;
    --muted: 80 10% 20%;
    --muted-foreground: 60 30% 70%;
    --accent: 16 80% 75%;
    --accent-foreground: 16 70% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 10% 25%;
    --input: 80 10% 25%;
    --ring: 120 35% 75%;
    --chart-1: 120 35% 75%;
    --chart-2: 16 80% 75%;
    --chart-3: 40 60% 70%;
    --chart-4: 200 60% 70%;
    --chart-5: 300 60% 70%;
    --sidebar-background: 80 10% 12%;
    --sidebar-foreground: 60 56% 90%;
    --sidebar-primary: 120 35% 75%;
    --sidebar-primary-foreground: 120 25% 10%;
    --sidebar-accent: 80 10% 22%;
    --sidebar-accent-foreground: 60 56% 90%;
    --sidebar-border: 80 10% 25%;
    --sidebar-ring: 120 35% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
